$fuente1: "Lato", sans-serif;
$fuente2: "Oswald", sans-serif;
$color-primario: #333;
$color-primario-dark: #f1f1f1;
$color-claro: #fff;
$color-secundario: #8841da;
$color-variacion: #3f579a;
$dark-mode: true;

@function get-opacity($color, $nivel) {
  @return rgba($color, $nivel);
}

@mixin caja {
  border-radius: 20px;
  box-shadow: 0px 20px 30px 0px rgba(0, 0, 0, 0.25);
  color: $color-primario;
  background-color: $color-claro;
}

@mixin titulos($fuente) {
  @if $fuente==$fuente1 {
    font-family: $fuente1;
  } @else {
    font-family: $fuente2;
    text-transform: uppercase;
  }
}

@mixin profile-dark-mode {
  @if $dark-mode {
    background-color: $color-primario-dark;
    &__nombre {
      color: $color-secundario;
    }
    &__titulo {
      color: $color-variacion !important;
    }
    &__boton {
      background-color: get-opacity($color-primario, 1);
      border: 2px solid get-opacity($color-claro, 1);
    }
  } @else {
    color: $color-claro;
    background-color: $color-secundario;
    &__boton {
      background-color: get-opacity($color-primario, 0.2);
      border: 2px solid get-opacity($color-claro, 0.3);
    }
  }
}

@mixin articles-dark-mode {
  @if $dark-mode {
    background-color: $color-primario;
  }
}

@mixin article-dark-mode {
  @if $dark-mode {
    &__titulo {
      color: $color-primario-dark;
    }
    &__descripcion {
      color: $color-primario-dark;
    }
  }
}

@each $header, $size in (h1: 30px, h2: 25px, h3: 20px) {
  #{$header} {
    font-size: $size;
    margin: 0;
  }
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  @include titulos($fuente1);
}

main {
  display: flex;
  width: 100%;
  height: 100vh;
}
